[Desktop Entry]
Version=2.8
Type=Application
Name=Vidown
Comment=Video downloader application
Exec=/bin/sh -c "$HOME/vidown/vidown"
Icon=vidown.png
Terminal=false
Categories=Network;Video;
StartupNotify=true